<div class="container h-100">
  <div class="row justify-content-center align-items-center h-100">
    <form class="col-sm-6" name="addressLookup" (ngSubmit)="onSubmit()">
      <div class="alert-wrapper">
        <div class="alert alert-warning" [class.alert--visible]="error">&nbsp;{{error}}</div>
      </div>
      <div class="form-group">
        <label class="sr-only">Address</label>
        <input
        name="address"
        id="address"
        class="form-control"
        type="text"
        [(ngModel)]="address"
        placeholder="Address"
        autocomplete="address" />
      </div>
      <div class="form-group">
        <label class="sr-only">Latitude</label>
        <input
        name="latitude"
        id="latitude"
        class="form-control"
        type="text"
        [(ngModel)]="latitude"
        placeholder="Latitude"
        readonly />
      </div>
      <div class="form-group">
        <label class="sr-only">Longitude</label>
        <input
        name="longitude"
        id="longitude"
        class="form-control"
        type="text"
        [(ngModel)]="longitude"
        placeholder="Longitude"
        readonly />
      </div>
      <button class="btn btn-primary sr-only">Submit</button>
    </form>
  </div>
</div>
