form {
  padding: 30px 60px;
  background: #fff;
  border-radius: 5px;
}

.alert {
  opacity:0;
  transition: all 0.3s;
  &--visible {
    opacity:1;
  }
  &-wrapper {
    border-bottom: 1px solid #ced4da;
    margin-bottom: 15px;
  }
}
